div.dial-container {
    display:inline-block;
    height: 200px;
    width: 200px;
    margin: 10px 20px;
}

div.dial-container img.gauge {
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}

div.dial-container img.gauge, div.dial-container img.dial, div.dial-container img.topLayer, div.dial-container img.dialShadow, div.dial-container div.shadowContainer {
    height:200px;
    position:absolute;
}

div.dial-container div.shadowContainer {
    padding-left:3px;
    padding-top:3px;
}

div.dial-container img.dial, div.dial-container img.dialShadow {
    transform: rotate(-45deg);
    transition: transform 1s;
}

div#firstRow div.label {
    display: inline-block;
    font-family: fantasy;
    width:200px;
    margin:0px 20px;
    text-align: center;
}

