html, body {
    background:#000;
}

div.dial-container {
    display:inline-block;
    height: 200px;
    width: 200px;
    margin: 10px;
}

div.dial-container .gaugeLayer {
    height:200px;
    position:absolute;
}

div.dial-container div.shadowContainer {
    padding-left:3px;
    padding-top:3px;
}

div.dial-container img.dial, div.dial-container img.dialShadow {
    transform: rotate(-57deg);
    transition: transform 1s;
}

div.dial-container img.gaugeGlass {
    z-index:2000;
}

div.dial-container div.nixieTubeContainer {
    width: 122px;
    margin-left: 39px;
    margin-top: 38px;
}

div.dial-container div.nixieTubeContainer img.nixieTube{
    height: 52px;
    z-index: 1000;
    float: left;
}

