<th:block th:fragment="_(writing, id, dial)">
    <div class="dial-container">
        <img class="gaugeLayer background" th:src="@{/images/gauges/background.png}"/>
        <img class="gaugeLayer" th:src="@{/images/gauges/{writing}.png(writing=${writing})}"/>
        <img class="gaugeLayer" th:src="@{/images/bezel_shadow.png}"/>

        <div class="gaugeLayer shadowContainer">
            <img th:id="${id+'Shadow'}" class="dialShadow gaugeLayer" th:src="@{/images/dials/dial_shadow.png}"/>
        </div>
        <img th:id="${id}" class="gaugeLayer dial" th:src="@{/images/dials/{dial}.png(dial=${dial})}"/>

        <img class="gaugeLayer gaugeGlass"  th:src="@{/images/glass.png}"/>
    </div>
</th:block>

<th:block th:fragment="_disk(writing, dialId, diskId)">
    <div class="dial-container">
        <img class="gaugeLayer background" th:src="@{/images/gauges/background.png}"/>
        <img th:id="${diskId}" class="gaugeLayer disk" th:src="@{/images/gauges/gauge_disk_time.png}"/>
        <img class="gaugeLayer" th:src="@{/images/gauges/{writing}.png(writing=${writing})}"/>
        <img class="gaugeLayer" th:src="@{/images/bezel_shadow.png}"/>

        <div class="gaugeLayer shadowContainer">
            <img th:id="${dialId+'Shadow'}" class="dialShadow gaugeLayer" th:src="@{/images/dials/dial_shadow_perforated.png}"/>
        </div>
        <img th:id="${dialId}" class="gaugeLayer dial" th:src="@{/images/dials/dial_perforated.png}"/>

        <img class="gaugeLayer gaugeGlass"  th:src="@{/images/glass.png}"/>
    </div>
</th:block>

<th:block th:fragment="core_status()">
    <div class="dial-container">
        <img class="gaugeLayer background" th:src="@{/images/core_status/background_core_status.png}"/>

        <div class="nixieTubeContainer gaugeLayer">
            <img id="coreStatus0" class="nixieTube" th:src="@{/images/core_status/nixie_blank.png}"/>
            <img id="coreStatus1" class="nixieTube" th:src="@{/images/core_status/nixie_blank.png}"/>
            <img id="coreStatus2" class="nixieTube" th:src="@{/images/core_status/nixie_blank.png}"/>
            <img id="coreStatus3" class="nixieTube" th:src="@{/images/core_status/nixie_blank.png}"/>
            <img id="coreStatus4" class="nixieTube" th:src="@{/images/core_status/nixie_blank.png}"/>
            <img id="coreStatus5" class="nixieTube" th:src="@{/images/core_status/nixie_blank.png}"/>
            <img id="coreStatus6" class="nixieTube" th:src="@{/images/core_status/nixie_blank.png}"/>
            <img id="coreStatus7" class="nixieTube" th:src="@{/images/core_status/nixie_blank.png}"/>
        </div>

        <img class="gaugeLayer gaugeGlass" th:src="@{/images/glass.png}"/>
    </div>
</th:block>

<th:block th:fragment="blank()">
    <div class="dial-container">
        <img class="gaugeLayer" th:src="@{/images/background_blank.png}"/>
        <img class="gaugeLayer" th:src="@{/images/bezel_shadow.png}"/>
        <img class="gaugeLayer gaugeGlass" th:src="@{/images/glass.png}"/>
    </div>
</th:block>