<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PC Stats</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/index.css}'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/index_lite.css}'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/toggle_switch.css}'>
</head>
<body th:attr="data-theme=${theme},data-noCpuCores=${systemInfo.noCpuCores},data-pollUrl=@{/poll-system-stats}" class="animated"  th:style="'background:url('+ @{/images/{theme}/background.jpg(theme=${theme})} +'); overflow-y: hidden;'">
    
    <div class="row">
        <th:block th:replace="~{gauge::_( 'percent_utilization', 'cpuLoadDial', 'dial_red')}"></th:block>
        <th:block th:replace="~{gauge::core_status()}"></th:block>
        <th:block th:replace="~{gauge::_( 'degrees_temperature', 'cpuTempDial', 'dial_red')}"></th:block>
        <th:block th:replace="~{gauge::_( 'percent_utilization', 'ramLoadDial', 'dial_yellow')}"></th:block>
    </div>
    <div class="separator"></div>
    <div class="row">
        <th:block th:replace="~{gauge::_( 'percent_utilization_core', 'gpuCoreLoadDial', 'dial_green')}"></th:block>
        <th:block th:replace="~{gauge::_( 'percent_utilization_memory', 'gpuMemLoadDial', 'dial_green')}"></th:block>
        <th:block th:replace="~{gauge::_( 'degrees_temperature', 'gpuTempDial', 'dial_green')}"></th:block>
        <th:block th:replace="~{gauge::_disk( 'time', 'timeDial', 'dayMomentDisk')}"></th:block>
    </div>

    <script th:src="@{/js/external/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/index_lite.js}"></script>
    <script th:src="@{/js/toggle_switches.js}"></script>
    
</body>
</html>
