<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PC Stats</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/index.css}'>
</head>
<body th:attr="data-noCpuCores=${systemInfo.noCpuCores},data-pollUrl=@{/poll-system-stats}">
    
    <!-- <p th:text="${systemInfo.pcName}"></p>
    <p th:text="${systemInfo.cpuName}"></p>
    <p th:text="${systemInfo.gpuName}"></p>
    <p id="timeP" th:text="${currentTime}"></p>

    <p>CPU load: <span id="cpuLoadP"></span></p>
    <p>GPU load: <span id="gpuLoadP"></span></p>
    <p>RAM load: <span id="ramLoadP"></span></p> -->



    <!-- <div id="firstRow">
        <div class="label">CPU</div>
        <div class="label">GPU</div>
        <div class="label">RAM</div>
    </div> -->
    
    <div id="secondRow">
        <th:block th:replace="~{gauge::_( 'writing_utilization', 'cpuLoadDial', 'dial_red')}"></th:block>
        <th:block th:replace="~{gauge::blank()}"></th:block>
        <th:block th:replace="~{gauge::_( 'writing_temperature', 'cpuTempDial', 'dial_black')}"></th:block>
        <th:block th:replace="~{gauge::_( 'writing_fan_speed', 'cpuFanDial', 'dial_beige')}"></th:block>
    </div>
    <div id="thirdRow">
        <th:block th:replace="~{gauge::_( 'writing_utilization_core', 'gpuCoreLoadDial', 'dial_red')}"></th:block>
        <th:block th:replace="~{gauge::_( 'writing_utilization_memory', 'gpuMemLoadDial', 'dial_red')}"></th:block>
        <th:block th:replace="~{gauge::_( 'writing_temperature', 'gpuTempDial', 'dial_black')}"></th:block>
        <th:block th:replace="~{gauge::_( 'writing_fan_speed', 'gpuFanDial', 'dial_beige')}"></th:block>
    </div>
    <div id="fourthRow" style="padding-left:220px;">
        <th:block th:replace="~{gauge::_( 'writing_utilization', 'ramLoadDial', 'dial_red')}"></th:block>
        <th:block th:replace="~{gauge::_( 'writing_consumption', 'wattLoadDial', 'dial_yellow')}"></th:block>
    </div>

    <script th:src="@{/js/external/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>
