<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Canvas gauges</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <style>
      html, body {
        margin:0px;
        padding:0px;
      }
      body {
         background:#000;
      }
    </style>

</head>
<body>  
   <canvas width="800" height="476"></canvas>
   
   <script>
      function degreesToRads(degrees){
         return Math.PI*(degrees+90)/180
      }

      function randomColor(){
         let colorPool = ['#f2ff00',
            '#000dff',
            '#00ff0d',
            '#62ff00',
            '#00eaff',
            '#00ffc4',
            '#00eaff',
            '#ff0000',
            '#ff9500',
            '#a6ff00',
            '#0088ff',
            '#00ffd9']

         return colorPool[Math.round(Math.random()*(colorPool.length-1))]
      }

      const REFRESH_RATE = 50 // in Hz; should be divider of 1000

      const GAUGE_COUNT = 24
      const GAUGE_LINE_SIZE = 6

      const START_RAD=degreesToRads(30)
      const END_RAD=degreesToRads(330)

      const GAUGE_OFFSET_X = 11
      const GAUGE_OFFSET_Y = 0
      const GAUGE_SPACING_X = 11
      const GAUGE_SPACING_Y = 0

      const GAUGE_SIZE=100
      const RING_WIDTH=20

      const canvas = document.querySelector('canvas');
      const ctx = canvas.getContext('2d');

      let values = []
      let targets = []
      let deltas = []
      let colors = []

      for (var i =0; i<GAUGE_COUNT; i++) {
         values.push(0)
         targets.push(0)
         deltas.push(0)
         colors.push(randomColor())
      }

      function chooseTargets(){
         for (var i=0; i<GAUGE_COUNT; i++) {
            targets[i] = Math.random()*100
            deltas[i] = 1.0*(targets[i]-values[i])/REFRESH_RATE
         }
      }

      function drawGauge(i, col, line) {

         gaugeX = GAUGE_OFFSET_X+col*(GAUGE_SPACING_X+GAUGE_SIZE+RING_WIDTH)+GAUGE_SIZE/2+RING_WIDTH/2
         gaugeY = GAUGE_OFFSET_Y+line*(GAUGE_SPACING_Y+GAUGE_SIZE+RING_WIDTH) + GAUGE_SIZE/2+RING_WIDTH/2

         ctx.lineWidth = RING_WIDTH
         ctx.lineCap = 'round'

         ctx.beginPath()
         ctx.arc(gaugeX, gaugeY, GAUGE_SIZE/2, START_RAD, END_RAD)
         ctx.strokeStyle = '#111111'
         ctx.stroke();
         
         let delta = deltas[i]
         let target = targets[i]
         
         values[i] += delta
         let value = values[i]
         
         if ((delta > 0 && value>=target) || (delta < 0 && value<=target)) {
            deltas[i] = 1.0
            values[i] = target
            value=values[i]
         } 
         
         ctx.beginPath()
         ctx.arc(gaugeX, gaugeY, GAUGE_SIZE/2, START_RAD, START_RAD + value/100*(END_RAD-START_RAD))
         ctx.strokeStyle = colors[i]
         ctx.stroke();

         ctx.font = "36px Arial"
         ctx.fillStyle = "white";
         ctx.textAlign = "center"
         ctx.fillText(Math.round(value), gaugeX, gaugeY+13)
      }

      function drawGauges(){
         ctx.clearRect(0, 0, canvas.width, canvas.height);

         // bounds rectangle
         // ctx.beginPath();
         // ctx.rect(0, 0, canvas.width, canvas.height);
         // ctx.lineWidth = "1";
         // ctx.strokeStyle = "red";
         // ctx.stroke();

         for (var i=0; i<GAUGE_COUNT; i++) {
            drawGauge(i, i%GAUGE_LINE_SIZE, Math.floor(i/GAUGE_LINE_SIZE))
         }
      }

      let cycles = 0
      function tick() {
         drawGauges()

         if (cycles%REFRESH_RATE==0) {
            chooseTargets()
         }
         cycles+=1
      }

      setInterval(tick, 1000/REFRESH_RATE)
   
   </script>
</body>
</html>
