<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PC Stats</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
</head>
<body>
    <img th:src="@{images/potato.jpg}" />
    <p>PC Stats</p>
    <p th:text="${systemInfo}"></p>
    <p>
        <span th:text="${currentTime}"></span>
    </p>

    <!-- <script src='main.js'></script> -->
</body>
</html>